.sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    div {
        label {
            margin-right: 10px;
            font-weight: bold;
            font-size: 1.1rem;
        }
        select {
            padding: 10px;
            border-radius: 5px;
            font-size: 1.1rem;
            color: rgb(102, 102, 102);
        }
    }
}